<a class="header_href" href="/">
  <div class="logo">
    <div class="top lined">NAMSOS</div>
    <div class="middle">ATHENÆUM</div>
    <div class="bottom lined">STIFTET 1867</div>
  </div>
</a>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
      <div class="navbar-nav">
        <a href="/" id="hjem" class="nav-item nav-link">Hjem</a>
        <a href="/kalender" id="kalender" class="nav-item nav-link">Kalender</a>
        <a href="/kontaktskjema" id="skjema" class="nav-item nav-link">Kontaktskjema</a>
        <a href="/vilkaar" id="vilkaar" class="nav-item nav-link">Vilkår</a>
        <a href="/lokalene" id="lokalene" class="nav-item nav-link">Lokalene</a>
      </div>
    </div>
  </div>
</nav>