<div class="logo">
  <p style="max-width: 780px;" class="top lined">NAMSOS</p>
  <p style="max-width: 780px;" class="middle">ATHENÆUM</p>
  <p style="max-width: 780px;" class="bottom lined">STIFTET 1867</p>
</div>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="/" class="navbar-brand mr-3">Hjem</a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a href="/kalender" id="kalender" class="nav-item nav-link">Kalender</a>
        <a href="/kontaktskjema" id="skjema" class="nav-item nav-link">Kontaktskjema</a>
        <a href="/vilkaar" id="vilkaar" class="nav-item nav-link">Vilkår</a>
        <a href="/lokalene" id="lokalene" class="nav-item nav-link">Lokalene</a>
      </div>
    </div>
  </div>
</nav>