<a class="header_href" href="/">
  <div class="logo fira-sans-medium">
    <div class="top lined">NAMSOS</div>
    <div class="middle">ATHENÆUM</div>
    <div class="bottom lined">STIFTET 1867</div>
  </div>
</a>

<nav class="navbar navbar-expand-md">
  <span class="navbar-brand fira-sans-medium ps-3 fs-4 d-md-none" id="brand"></span>
  <button type="button" class="navbar-toggler custom-toggler me-2" data-bs-toggle="collapse"
    data-bs-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
    <div class="navbar-nav ms-3 fira-sans-medium">
      <a href="/" id="forside" class="nav-item nav-link">Forside</a>
      <a href="/kontaktskjema" id="skjema" class="nav-item nav-link">Kontaktskjema</a>
      <a href="/vilkaar" id="vilkaar" class="nav-item nav-link">Vilkår</a>
      <a href="/priser" id="priser" class="nav-item nav-link">Priser</a>
      <a href="/lokalene" id="lokalene" class="nav-item nav-link">Lokalene</a>
      <a href="/kalender" id="kalender" class="nav-item nav-link">Kalender</a>
    </div>
  </div>

</nav>