body {
  background: #373B44;
  background: -webkit-linear-gradient(to right, #1f4075, #373B44);
  background: linear-gradient(to right, #1f4075, #373B44);
  font-family: Georgia, 'Times New Roman', Times, serif;
  overflow: visible;
  color: #d7d7d7
}

html {
  overflow-y: scroll;
}

.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.error {
  color: red;
}

.responsiveCal {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.responsiveCal iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .deskContent {
    display: block;
  }

  .phoneContent {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .deskContent {
    display: none;
  }

  .phoneContent {
    display: block;
  }
}

#content-area {
  display: none;
  height: 800px;
  overflow: auto;
  margin-bottom: 1.5em;
  padding: 10px;
  border: solid 1px #d7d7d7;
  color: #505050;
  background-color: #ffffff;
  font-size: 90%;
}

.logo {
  color: #d7d7d7;
  text-align: center;
  overflow: hidden;
}

.middle {
  font-size: 3em;
}

.lined:before,
.lined:after {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.lined:before {
  right: 0.5em;
  margin-left: -50%;
}

.lined:after {
  left: 0.5em;
  margin-right: -50%;
}

a.header_href:link,
a.header_href:visited,
a.header_href:hover,
a.header_href:active {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  #content-area {
    height: 900px;
  }
}

@media screen and (max-width: 510px) {
  #content-area {
    height: 1000px;
  }
}

@media screen and (max-width: 414px) {
  #content-area {
    height: 1100px;
  }
}

@media screen and (max-width: 378px) {
  #content-area {
    height: 1200px;
  }
}

@media screen and (max-width: 328px) {
  #content-area {
    height: 1300px;
  }
}

@media screen and (max-width: 300px) {
  #content-area {
    height: 1400px;
  }
}

@media screen and (max-width: 280px) {
  #content-area {
    height: 1500px;
  }
}

@media screen and (max-width: 260px) {
  #content-area {
    height: 1600px;
  }
}