body {
  background: #050f30;
  font-family: Georgia, 'Times New Roman', Times, serif;
  overflow: visible;
  color: #d7d7d7;
}

.navbar {
  background: #d7d7d7;
  color: #050f30;
}

.navbar-toggler {
  border: none;
  padding: 0;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler .toggler-content {
  display: flex;
  align-items: center;
  gap: 10px;
  /* Space between icon and text */
}

.navbar-toggler .icon-container {
  width: 30px;
  height: 20px;
  position: relative;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #050f30;
  position: absolute;
  transition: all 0.3s;
}

.navbar-toggler .top-bar {
  top: 0;
}

.navbar-toggler .middle-bar {
  top: 50%;
  transform: translateY(-50%);
}

.navbar-toggler .bottom-bar {
  bottom: 0;
}

/* Hamburger icon (default state) */
.navbar-toggler .top-bar {
  transform: rotate(0);
}

.navbar-toggler .middle-bar {
  opacity: 1;
}

.navbar-toggler .bottom-bar {
  transform: rotate(0);
}

/* X icon (when expanded) */
.navbar-toggler:not(.collapsed) .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler:not(.collapsed) .middle-bar {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

/* Text styling */
.navbar-toggler .toggler-text {
  font-size: 18px;
  /* Adjust this to match your icon size */
  color: #050f30;
  letter-spacing: 1px;
}

html {
  overflow-y: scroll;
}

.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.error {
  color: red;
}

.responsiveCal {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.responsiveCal iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#content-area {
  display: none;
  height: 800px;
  overflow: auto;
  margin-bottom: 1.5em;
  padding: 10px;
  border: solid 1px #d7d7d7;
  color: #505050;
  background-color: #ffffff;
  font-size: 90%;
}

.logo {
  color: #d7d7d7;
  background: #050f30;
  text-align: center;
  overflow: hidden;
}

.middle {
  font-size: 2em;
  line-height: 35px;
}

.lined:before,
.lined:after {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.lined:before {
  right: 0.5em;
  margin-left: -50%;
}

.lined:after {
  left: 0.5em;
  margin-right: -50%;
}

a.header_href:link,
a.header_href:visited,
a.header_href:hover,
a.header_href:active {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .navbar {
    background: #050f30;
  }

  .navbar .navbar-nav .active {
    color: #0c922d;
  }

  .deskContent {
    display: block;
  }

  .phoneContent {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    background: #d7d7d7;
    color: #050f30;
  }

  .navbar .navbar-nav .active {
    display: none;
  }

  .deskContent {
    display: none;
  }

  .phoneContent {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  #content-area {
    height: 900px;
  }
}

@media screen and (max-width: 510px) {
  #content-area {
    height: 1000px;
  }
}

@media screen and (max-width: 414px) {
  #content-area {
    height: 1100px;
  }
}

@media screen and (max-width: 378px) {
  #content-area {
    height: 1200px;
  }
}

@media screen and (max-width: 328px) {
  #content-area {
    height: 1300px;
  }
}

@media screen and (max-width: 300px) {
  #content-area {
    height: 1400px;
  }
}

@media screen and (max-width: 280px) {
  #content-area {
    height: 1500px;
  }
}

@media screen and (max-width: 260px) {
  #content-area {
    height: 1600px;
  }
}