<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') -%>
</head>

<body>

  <header>
    <%- include('../partials/header') -%>
  </header>

  <div class="bg-white p-3">
    <div class="map-responsive">
      <iframe src="https://calendar.google.com/calendar/embed?src=namsos.athenaeum%40gmail.com&ctz=Europe%2FOslo"
        width="800" height="600" style="border:0"></iframe>
    </div>
  </div>
  <br>

  <script>
    document.getElementById("kalender").classList.add("active");
  </script>

  <footer>
    <%- include('../partials/foother') -%>
  </footer>

</body>

</html>