<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') -%>
</head>

<body>

  <%- include('../partials/header') -%>

  <div class="p-3" style="text-align: center;">
    <div class="p-3">
      <div class="responsiveCal">
        <div class="deskContent">
          <iframe src="https://calendar.google.com/calendar/embed?src=namsos.athenaeum%40gmail.com&ctz=Europe%2FOslo"
            style="border: 0" width="800" height="600" frameborder="0" scrolling="no">
          </iframe>
        </div>
        <div class="phoneContent">
          <iframe
            src="https://calendar.google.com/calendar/embed?mode=AGENDA&amp;height=400&amp;wkst=1&amp;src=namsos.athenaeum%40gmail.com&ctz=Europe%2FOslo"
            style="border: 0" width="280" height="500" frameborder="0" scrolling="no">
          </iframe>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.getElementById("kalender").classList.add("active");
    document.getElementById("brand").textContent = "Kalender";
  </script>

  <%- include('../partials/footer') -%>

</body>

</html>