<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') -%>
</head>

<body>

  <header>
    <%- include('../partials/header') -%>
  </header>

  <div class="bg-white p-3" style="text-align: center;">
    <div style="display: inline-block; text-align: left; max-width: 800px;">
      <h3 class="fw-bold">Festsalen</h3>
      <img class="img-fluid" src="images/festsalen.jpg" alt="festsalen"><br>
      <h3 class="fw-bold">Salongen</h3>
      <img class="img-fluid" src="images/salongen.jpg" alt="salongen"><br>
      <h3 class="fw-bold">Peisestuen</h3>
      <img class="img-fluid" src="images/peisestuen.jpg" alt="peisestuen"><br>
      <h3 class="fw-bold">Kjøkkenet</h3>
      <img class="img-fluid" src="images/kjoekkenet.jpg" alt="kjøkkenet"><br>
    </div>
  </div>
  <br>

  <script>
    document.getElementById("lokalene").classList.add("active");
  </script>

  <footer>
    <%- include('../partials/foother') -%>
  </footer>

</body>

</html>