<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') -%>
</head>

<body>

  <%- include('../partials/header') -%>

  <div class="pt-3 justify-content-center container" style="max-width: 740px;">
    <h3>Festsalen</h3>
    <img class="rounded_image img-fluid mb-3" src="images/festsalen_no_edge.jpg" alt="festsalen"><br>
    <h3>Salongen</h3>
    <img class="rounded_image img-fluid mb-3" src="images/salongen_no_edge.jpg" alt="salongen"><br>
    <h3>Peisestuen</h3>
    <img class="rounded_image img-fluid mb-3" src="images/peisestuen_no_edge.jpg" alt="peisestuen"><br>
    <h3>Kjøkkenet</h3>
    <img class="rounded_image img-fluid mb-3" src="images/kjoekkenet_no_edge.jpg" alt="kjøkkenet"><br>
  </div>

  <script>
    document.getElementById("lokalene").classList.add("active");
    document.getElementById("brand").textContent = "Lokalene";
  </script>

  <%- include('../partials/footer') -%>

</body>

</html>