<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') -%>
</head>

<body>

  <header>
    <%- include('../partials/header') -%>
  </header>

  <pre class="d-flex justify-content-center fs-3 pt-3">
Festsalen og Salongen:  11.000,-
Festsalen:               8.000,-
Salongen:                3.000,-
Peisestuen:              4.000,-
Per runde bord:            200,-
</pre>

  <script>
    document.getElementById("priser").classList.add("active");
  </script>

  <footer>
    <%- include('../partials/foother') -%>
  </footer>

</body>

</html>