<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') -%>
</head>

<body>

  <header>
    <%- include('../partials/header') -%>
  </header>

  <div class="container fs-5 pt-3">
    <table class="d-flex fira-sans-medium justify-content-center pb-3">
      <tr>
        <td>Festsalen og Salongen:&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="text-end">11.000,-</td>
      </tr>
      <tr>
        <td>Festsalen:</td>
        <td class="text-end">8.000,-</td>
      </tr>
      <tr>
        <td>Salongen:</td>
        <td class="text-end">3.000,-</td>
      </tr>
      <tr>
        <td>Peisestuen:</td>
        <td class="text-end">4.000,-</td>
      </tr>
    </table>
    <div class="fira-sans-regular p-3">
      <p>
        Leien inkluderer: Leie av glass, bestikk og stentøy (opptil ca 140 personer).
      </p>
      <p>
        Pristillegg for bruk av runde bord kr 200,- pr bord, inkludert duker. Maks 2.000,- (for 12 bord).
      </p>
      <p>
        Vasking av lokalene er inkludert i prisen.
      </p>
    </div>
  </div>

  <script>
    document.getElementById("priser").classList.add("active");
  </script>

  <footer>
    <%- include('../partials/foother') -%>
  </footer>

</body>

</html>