<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') -%>
</head>

<body>

  <header>
    <%- include('../partials/header') -%>
  </header>

  <div class="container fs-5 pt-3">
    <table class="d-flex justify-content-center">
      <tr>
        <td>Festsalen og Salongen:&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="text-end">11.000,-</td>
      </tr>
      <tr>
        <td>Festsalen:</td>
        <td class="text-end">8.000,-</td>
      </tr>
      <tr>
        <td>Salongen:</td>
        <td class="text-end">3.000,-</td>
      </tr>
      <tr>
        <td>Peisestuen:</td>
        <td class="text-end">4.000,-</td>
      </tr>
      <tr>
        <td>Per runde bord:</td>
        <td class="text-end">200,-</td>
      </tr>
    </table>
  </div>

  <script>
    document.getElementById("priser").classList.add("active");
  </script>

  <footer>
    <%- include('../partials/foother') -%>
  </footer>

</body>

</html>