<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') -%>
</head>

<body>

  <header>
    <%- include('../partials/header') -%>
  </header>

  <div class="pt-3 fira-sans-medium d-flex container justify-content-center" id="tilbakemelding">
    <% if (sjekk) { %>
    Takk for bestillingen!<br>
    Skjemaet er sendt til namsos.athenaeum@gmail.com
    <% } else { %>
    Feil ved innsending av skjema:<br>
    Feilmelding: <%= message %>
    <% } %>
  </div>

  <footer>
    <%- include('../partials/foother') -%>
  </footer>

</body>

</html>