<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') -%>
</head>

<body>

  <header>
    <%- include('../partials/header') -%>
  </header>

  <div class="p-3 lh-md container justify-content-center fira-sans-medium" style="max-width: 800px;">
    <h2>Vilkår for leie av Namsos Athenæum</h2>
    <p class="ps-2 pb-2">
      Bygget du nå skal benytte har sin historie tilbake til 1957. Det meste av bygget Namsos Athenæum er faktisk i
      original utførelse og derfor er bygget av historisk interesse. Det er ikke mange slike bygg fra denne perioden
      igjen i Norge. Bygget er nå eid og driftet av Namsos Athenæum, en privat forening som ble stiftet så tidlig som
      1867! Vi i foreningen er svært, svært glade i bygget vårt og vi håper at du og dine gjester har stor glede av
      det,
      samtidig som dere hjelper oss å ta vare på det.
    </p>
    <p class="ps-2 pb-2">
      Du får disponere det/de rom som er avtalt, garderobe, toalett samt kjøkken med de fasiliteter som finnes der,
      inklusive servise, bestikk, glass, serverings fat ol.
    </p>
    <p class="ps-2 pb-2">
      En brukanes oppvaskmaskin er der også, slik at vi forventer at du vasker opp og setter ting tilbake der du fant
      det når du er ferdig med tilstelningen.
    </p>
    <p class="ps-2 pb-2">
      Vi forventer også at lokalene blir ryddet før vi overtar til vasking. I store sal skal bord og stoler stables og
      settes langs en av sidene.
    </p>
    <p class="ps-2 pb-2">
      Søppel skal i sekker og bæres ut og plasseres i stor plastcontainer i bakgården.
    </p>
    <div class="ps-2">Før du forlater bygget for kvelden/natten vennligst sjekk:</div>
    <div class="ps-2">
      <ul>
        <li>ALLE stearinlys slukket</li>
        <li>Alle kokeplater og andre elektrisk apparater på kjøkken avslått</li>
        <li>Avtrekksvifte på kjøkkenet avslått</li>
        <li>Dører låst:</li>
        <li>Bakdør ved kjøkken</li>
        <li>Dør ved garderobe</li>
        <li>Ytterdør i front</li>
        <li>Alle vinduer lukket og stengt</li>
        <li>Gjenglemt tøy i garderoben?</li>
      </ul>
    </div>
    <p class="ps-2">
      Leietaker vil være økonomisk ansvarlig for en hver skade, det være seg ved uhell eller hærverk som blir forvoldt
      på
      inventar eller eiendom (stoler, bord, toalett, vasker, speil, vinduer, dører osv. osv). Det vil være unntak for
      ting
      som går i stykker av elde eller slitasje og normal brekkasje på glass og servise.
    </p>
  </div>
  <br>

  <script>
    document.getElementById("vilkaar").classList.add("active");
  </script>

  <footer>
    <%- include('../partials/foother') -%>
  </footer>

</body>

</html>